@using BlazorWasmClient.Services
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IUserService UserService
@inject ILocalStorageService LocalStorageService

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div>
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        NavManager.NavigateTo("/login");
    }
}